.about-content{
	width: 80%;
	margin-left: 10%; 
	margin-top: 20px;
	margin-bottom: 20px;
	border: 3px solid;
	border-radius: 9px;
	border-color: #f28d1f;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

.about-content h1{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.about-content p{
	text-align: justify; 
	width: 70%;
	margin-left: 15%;
	margin-top:20px;
	margin-bottom: 20px;
}
