.footer-container{
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #024b28;
}

.footer-container img{
	width: 45px;
	margin-left: 42%;
}

.footer-container h4{
	color: white;
	font-size: 13px;
}

.icon{
	margin-left: 10px;
	color: white;
	font-size:15px;
	transition: all 0.5s ease-in-out;
}

.icon:hover{
	font-size: 23px;
}

.content{
	width: 40%;
	display: flex;
	flex-direction: row;
	margin-left: 15px;
	margin-top: 18px;
}

.footer-orange-line{
	width: 100%;
	height: 4px;
	background-color: #f28d1f;
}

